#content p {
    font-family:verdana,sans-serif;
}

#views {
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

#views>img {
    /* float: left; */
    border: 2px solid black;
    width: 45%;
    margin: 1.66%;
}

table, th, td {

    border: 1px solid black;
    
    border-collapse: collapse;
    
    }
    
    th, td {
    
    padding: 10px;
    
    }